@media (min-width: 640px) {
    .navbar__left--size {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
    }
    
    .navbar__profile {
        width: 3rem;
        height: 3rem;
    }

    .content__logo {
        width: 25rem;
        margin-top: 2rem;
    }

    .search__input {
        width: 51rem;
    }

    .content__links {
        width: 40rem;
    }

    .link__card {
        margin: 1rem;
    }

    .navbar__hide--card {
        display: flex;
    }

    .content__settings {
        display: none;
    }
}